name: Release

on:
  workflow_dispatch:
  schedule:
    - cron: 0 8 * * *
  pull_request:
    branches:
      - main

permissions:
  actions: read
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  release:
    outputs:
      new_release_published:
        ${{ steps.semantic-release.outputs.new_release_published }}
      new_release_major_version:
        ${{ steps.semantic-release.outputs.new_release_major_version }}
      new_release_git_head:
        ${{ steps.semantic-release.outputs.new_release_git_head }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - id: semantic-release
        uses: cycjimmy/semantic-release-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        with:
          semantic_version: v24.2.1
          extra_plugins: |
            @semantic-release/git@10.0.1
            @semantic-release/changelog@6.0.3
            @semantic-release/exec@7.0.2
            conventional-changelog-conventionalcommits@8.0.0

      - name: Release Created
        if:
          ${{ steps.semantic-release.outputs.new_release_published == 'true' }}
        id: release-notes
        run: |
          echo "## Release notes for created release" > "$GITHUB_STEP_SUMMARY"
          {
            echo "RELEASE_NOTES<<EOF"
            echo "${{ steps.semantic-release.outputs.new_release_notes }}"
            echo "EOF"
          } >> "$GITHUB_STEP_SUMMARY"

      - name: No release created
        if:
          ${{ steps.semantic-release.outputs.new_release_published != 'true' }}
        id: no-release
        run: |
          echo "No new release was created." >> "$GITHUB_STEP_SUMMARY"

  floating-tag:
    needs: release
    if: ${{ needs.release.outputs.new_release_published == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Create floating tag
        uses: 'actions/github-script@v8'
        with:
          github-token: ${{ secrets.PAT }}
          script: |-
            const sha = "${{ needs.release.outputs.new_release_git_head }}";
            const major = `v${{ needs.release.outputs.new_release_major_version }}`;

            // If exists then update, else create
            try {
            await github.rest.git.updateRef({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: `tags/${major}`,
                sha: sha,
                force: true,
            });
            core.info(`Updated ${major} to ${sha}`);
            } catch(err) {
                core.info(`Failed to update ${major}: ${err}`);
                await github.rest.git.createRef({
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    ref: `refs/tags/${major}`,
                    sha: sha,
                });
                core.info(`Created ${major} at ${sha}`);
            }
